extends layout

block content
  .row.banner
    .col-12
      h1                                                       
  
  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") Goa
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
            p.address Backpackers & City Freaks
          span.badge.badge-pill.badge-default ₹5499
          p.address 2 Day Trip
          p.facilities
            span.badge.badge-warning Stay
            span.badge.badge-warning Food
            span.badge.badge-warning Transport
  
    .col-12.col-md-4
      p.lead Embark on your next adventure with our expert travel tips and insider guides to make every journey unforgettable.
